<!DOCTYPE html>
<html>



<head>
    <link rel="stylesheet" href="/static/css/brewery.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>Breweries</title>
</head>
<body>
    <!--
        breweries: list of all breweries
        nearest: info of the nearest brewery
    -->

    <div id=top>
        <form action="/">
            <input id=home type="submit" name="return" value="Home">
        </form>
        <h1 id=title>Breweries</h1>
    </div>

    <div id=breweries>
        <div id=geolocation>
            <div id="individual">
                <button id=location onClick="getLocation()"> Allow us to access your Location </button>
                <p>YOUR COORDINATES:</p>
                <p id="demo"></p>
            </div>

            <script>
                const x = document.getElementById("demo");

                function getLocation() {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(showPosition);
                    } else {
                        x.innerHTML = "Geolocation is not supported by this browser.";
                    }
                }

                function showPosition(position) {
                    x.innerHTML = "Latitude: " + position.coords.latitude +
                        "<br>Longitude: " + position.coords.longitude;
                }
            </script>


        </div>

        {% for brewery in breweries %}
        <div id=individual>
            {{ brewery[1] }} <br>
            Longitude: {{brewery[2]}} <br>
            Latitude: {{brewery[3]}}
        </div>
        {% endfor %}
    </div>


    <footer> You are currently logged in as {{ session['username'] }} </footer>
</body>
</html>
