<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link rel="stylesheet" href="static/css/catalog.css">
</head>
<body>
    <h1>Catalog</h1>
        <form action="/">
            <input type="submit" name="return" value="Home">
        </form>

    <!-- List of recipes -->
    {% if recipes %}
        <ul>
            {% for recipe in recipes %}
                <li>
                    <a id = view href = "catalog/{{ recipe[3] }}"> {{recipe[3]}} </a> <br>
                    <img src = "{{ recipe [4] }}" > <br>
                </li>
                <br>
            {% endfor %}
        </ul>

    {% endif %}

</body>
</html>
