<!DOCTYPE html>
<!-- 
    recipe[0]: id
    recipe[3]: name
    recipe[4]: img link
-->
<html lang="en">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cookie&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link rel="stylesheet" href="static/css/catalog.css">

</head>
<body>
    <div id=top>
        <form action="/">
            <input id = home type="submit" name="return" value="Home">
        </form>
        <h1 id=title>Catalog</h1>
    </div>
    <div id = recipe>
    <!-- List of recipes -->
    {% if recipes %}
        <ul>
            {% for recipe in recipes %}
		    <div id = individual>
                <li>
		            <img id = pic src = "{{ recipe [4] }}" > <br>
                    <a id = view href = "catalog/{{ recipe[0] }}"> {{recipe[3]}} </a> <br>
                </li>
                <br>
		    </div>
            {% endfor %}
        </ul>

    {% endif %}
  </div<

</body>
</html>