<!DOCTYPE html>
<html>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <div id="background">
        <h1 id="title">Somni Bites</h1>

        <div class="temp login">
            {% if username %}
            <br>
                Hello, {{ username }}
                <a href="{{ url_for('logout') }}">Log out</a><br>
            {% else %}
                <a id = register href="{{ url_for('register') }}">Register</a>
                <a id = login href="{{ url_for('login') }}">Log in</a><br>
            {% endif %}
        </div>

        <div id="profile">
            <p>
            </p>
        </div>


    </div>
</body>

</html>
