<!DOCTYPE html>
<html>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <div id="background">
        <h1 id="title">Somni Bites</h1>

        <div id="buttons">
            {% if username %}
            <br>
                Hello, {{ username }}
                <a href="{{ url_for('logout') }}">Log out</a><br>
            {% else %}
                <a id = register href="{{ url_for('register') }}">Register</a>
                <a id = login href="{{ url_for('login') }}">Log in</a><br>
            {% endif %}
        </div>

    </div>

        <div id="brew" class="fa fa-3x animation fade-in-up" data-mbd-animation-init= "" data-mdb-animation-start="onScroll" data-mdb-animation="fade-in-up" data-mbd-animation-initialized="true" style="visibility: visible; animation-duration: 500ms">
            <p> Visit the brewery! </p>
            <a id = brewery href="{{ url_for('brewery') }}"> Brewery</a><br>
        </div>

</body>

</html>
