<!DOCTYPE html>

<!-- 
    title: article[1]
    content: article[2]
    link: article[3]
-->

<html lang="en">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cookie&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" href="static/css/news.css">
</head>
<body>
    <div id="top">
        <form action="/">
            <input id=home type="submit" name="return" value="Home">
        </form>
        <h1 id="title">News</h1>
    </div>

    <!-- List of News -->
    {% if news %}
    <ul>
        {% for article in news %}
        <div id="individual">
        <li>
            <a id="view" href="{{ article[3] }}"> {{ article[1] }} </a> <br> <!-- Link and Title-->
            <p id="content">{{ article[2] }}</p><br> <!-- Content -->
        </li>
            <br>
        </div>
        {% endfor %}
    </ul>

    {% endif %}

</body>
</html>
