<!DOCTYPE html>

<!-- 
    title: article[1]
    content: article[2]
    link: article[3]
-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link rel="stylesheet" href="static/css/existing.css">
</head>
<body>
    <h1>News</h1>

    <!-- List of News -->
    {% if news %}
        <ul>
            {% for article in news %}
                <li>
                    {{ article[1] }}<br> <!-- Title -->
                    {{ article[2] }} <!-- Content -->
                    <a href = "{{ article[3] }}"> See more </a> <!-- Link-->
                </li>
                <br>
            {% endfor %}
        </ul>

    {% endif %}

</body>
</html>
