<!DOCTYPE html>
<html>

<!--
username: user in session
info: list of favorited recipes
sub: [ingredients, content, name, img]
-->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cookie&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/profile.css">
    <title>Profile</title>
</head>

<body>
    {% if username %}
    <div id="background">
        <h1 id="title"> {{username}}'s Profile </h1>
        <form action="/">
            <input id=home type="submit" name="return" value="Home"> <br>
        </form>
        <br>
        <a id=login href="{{ url_for('logout') }}">Log Out?</a><br>
    </div>
        <div id="blogs">
            <br>
            <p id = fav> Favorited Blogs: </p>

            {% if info %}
                {% for sub in info %}
                    <div id="individual">
                        <h2>{{ sub[3] }}</h2>
                        <a id=view_recipe href="/catalog/{{ sub[0] }}"> View Recipe </a><br>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        {% else %}
        <div id= "background">
            You are not logged in! <br>
            <a id=register href="{{ url_for('register') }}">Register</a> <br>
            <a id=login href="{{ url_for('login') }}">Log in</a><br>
        </div>
        {% endif %}


    <div id="profile">
        <p>
        </p>
    </div>


    </div>
</body>

</html>
