<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/view.css">
    <title>{{ Recipe }}</title>
</head>
<body>

<nav> 
    <form action="/">
        <input type="submit" name="return" value="Home">
    </form>
</nav>

    <div id ="background">

        <h1>{{ Recipe }}</h1>

        <div id = "content">
            <p>{{ content }}</p>
        </div>

    </form>

        {% if comment %}

            {{ comment }}

        {% else %}

        You have not left a comment. You can leave a comment here!
        <textarea id="editing" name="content" rows="4" cols="50"></textarea>

        {% endif %}

    <footer> You are currently logged in as {{ user }} </footer>

    <!-- <div>
        name: {{ name }}<br>
        ingredients: {{ ingredients }}
        steps: {{ steps | safe }}
        image: {{ image }}
    </div> -->
</body>
</html>
