<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/recipe.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <title>{{ name }}</title>
</head>
<body>

    <!--
        name: {{ name }}<br>
        ingredients: {{ ingredients }}
        steps: {{ steps }}
        image: {{ image }}
        comment: user-specific comments

    -->

    <div id="top">
        <div style="display:flex;">
            <form action="/" style="margin:2%">
                <input id="home" type="submit" name="return" value="Home">
            </form>

            <form action="/catalog/{{ id }}" style="margin:2%">
                <input id="home" type="submit" name="return" value="Catalog">
            </form>
        </div>

        <h1 id="title">{{ name }}</h1>
    </div>

    <div id=individual>
        <img id=pic src="{{ image }}"> <br>
        {% for item in ingredients %}
        <li> {{ item }} <br></li>
        {% endfor %}
        <br>
        <br>
        <br>
        <br>
        {{ steps }}
        <br>
        <br>
        <br>
    </div>



    {% if session['username'] %}

    <!-- Favorite + Comment form -->
        <div id="favorite">
            <form action="/catalog/{{ id }}", method="POST">
                <!-- <input type="hidden" name="favorite" value="false"> -->

                <div id="check">
                Check here to favorite!
                <input type="checkbox" name="favorite" value="true" {% if favorite  == "true" %} checked {% endif %}><br>
                </div>
                <input id="update" type="submit" value="Update preferences">
            </form>
            <br>
        </div>
        <div id="comm">
            <form action="/catalog/{{ id }}", method="POST">
            {% if comment %}
                Here's the comment you left!
                <br>
                <textarea id="edit_comment" name="edit_comment" rows="4" cols="50">{{comment}}</textarea>
                <br>
                <input type="submit" value="Save">
            {% else %}
                <!-- <form action="/catalog/{{ id }}" , method="POST"> -->
                    You have not left a comment. You can leave a comment here!
                    <br>
                    <textarea id="new_comment" name="new_comment" rows="4" cols="50"></textarea>
                    <br>
                    <input type="submit" value="Save">
                    <br>
                    <!-- <button type="submit"> Submit</button> -->
                <!-- </form> -->
            {% endif %}
            </form>
            </div>
        </form>

    <br><br><br>

            <footer> <br> <br> <br> <br> You are currently logged in as {{ session['username'] }} </footer>

    {% else %}
    <footer>
        You are currently not logged in.
        <a id="login" href="{{ url_for('login') }}"> Log In?</a>
    </footer>

    {% endif %}
</body>
</html>
