<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/view.css">
    <title>{{ name }}</title>
</head>
<body>

<!--
    name: {{ name }}<br>
    ingredients: {{ ingredients }}
    steps: {{ steps | safe }}
    image: {{ image }}
    comment: user-specific comments

-->

<nav>
    <form action="/">
        <input type="submit" name="return" value="Home">
    </form>
</nav>

    <div id ="background">

        <h1>{{ name }}</h1>

        <div id = "content">
            <p>{{ content }}</p>
        </div>

    </form>
    {% if session['username'] %}

        <!-- Favorite Button Start -->
        {% if favorite %}
        <form action="/unfavorite_item/{{ id }}", method="POST">
            <input type="submit" name="return" value="Unfavorite">
        {% else %}
        <form action="/favorite_item/{{ id }}", method="POST">
            <input type="submit" name="return" value="Favorite">

        {% endif %}

        <!-- Favorite Button End -->

        {% if comment %}

            {{ comment }}

        {% else %}
        <form action="/catalog/{{ id }}", method="POST">
            You have not left a comment. You can leave a comment here!
            <textarea id="editing" name="content" rows="4" cols="50"></textarea>
            <br>
            <button type="submit"> Submit</button>
        </form>
        {% endif %}

        <footer> You are currently logged in as {{ session['username'] }} </footer>
    {% endif %}




</body>
</html>
